body{
    background-image: url('Pictures/green-light-stage-at-a-concert-venue_800.jpg');
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}